.schedule-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.wizard{
    height: 500px;
    background-color: var(--white);
    position: relative;
    border-radius: 10px;
    overflow: scroll;
}

.wizard .main{
    padding: 30px;
}

.wizard .navigation{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}

.wizard input{
    height: 50px;
}

.wizard label{
    margin-left: 10px;
    font-size: 16px;
    color: var(--text);
}

.pill{
    height: 30px;
    width: auto;
    float: right;
    border: 2px solid var(--green);
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

.pill:hover{
    background-color: var(--green);
    color: var(--white);
}

.pill-active{
    height: 30px;
    width: auto;
    float: right;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.priority{
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    background-color: var(--white);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-container input[type = 'date']{
    width: 155px;
}