.schedule-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.wizard{
    height: 500px;
    background-color: var(--white);
    position: relative;
}

.wizard .main{
    padding: 30px;
}

.wizard .navigation{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}

.wizard input{
    height: 50px;
}

.wizard label{
    margin-left: 10px;
    font-size: 16px;
    color: var(--text);
}