.auth-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 70px;
    margin: 30px;
}

.input-container{
    width: 280px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 5px;
    margin: 10px;
    padding: 8px;
    margin-bottom: 30px;
}

input{
    float: left;
    height: 30px;
    width: 220px;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0px;
    margin-left: 10px;
    font-weight: 500;
    color: var(--white);
}

.input-icon{
    font-size: 18px;
    color: var(--white);
    float: left;
    margin: 5px;
}

.login-btn{
    width: 280px;
    height: 50px;
    outline: none;
    border: none;
    background-color: var(--white);
    color: var(--green);
    border-radius: 5px;
    font-weight: 500;
}

.otp-container{
    width: 280px;
    margin-bottom: 20px;
}

.otp-focus{
    color: var(--white);
}

.otp{
    width: 50px !important;
    height: 50px;
    border: 3px solid var(--white);
    border-radius: 8px;
    margin: 10px !important;
    color: var(--white);
}

.sub-link{
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
}

.special{
    font-size: 14px;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 15px;
}

.special a, .special a:hover{
    color: var(--white);
}


.sub-link a, .sub-link a:hover{
    color: var(--white);
}