@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --background: #F6F6F6;
    --white: #fff;
    --green: #40514E;
    --blue: #2F89FC;
    --text: #777777;
    --gray: #e2e2e2;
    --heading: #373737;
    --shadow: #eeeeee;
}


*, *::before, *::after {
    box-sizing: inherit;
  }
  
html {
    box-sizing: border-box;
    background-color: var(--background);
}
  
html body {
    padding: 0;
    margin: 0;
    overflow-y: inherit;
}

body{
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.box-shadow{
    box-shadow: 0px 0px 10px #ccc;
}

.box-shadow-bottom{
    box-shadow: -3px 5px 10px 0.2px rgb(235, 235, 235);
}

.background-blue{
    background-color: var(--blue);
}

.background-green{
    background-color: var(--green);
}

.disabled{
    background-color: var(--shadow);
    cursor: no-drop;
}

.color-white{
    color: white;
}


.color-success{
    color: #42C9A8;
}

.color-info{
    color: #2F89FC;
}

.color-danger{
    color: #F44336;
}

hr{
    color: var(--text);
}

* {
    scrollbar-width: auto;
    scrollbar-color: #454545 #ffffff;
}


*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 10px;
    border: 3px solid #ffffff;
}


.sidebar{
    height: 100vh;
    padding: 20px;
    width: 300px;
    position: relative;
    background-color: var(--white);
    z-index: 100;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.hide-sidebar{
    position: absolute;
    top: 22px;
    right: 16px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar-logo h2{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: var(--heading);
}

.sidebar-logo img{
    width: 30px;
}

.sidebar-menu{
    text-align: left;
}

.sidebar-menu h3{
    font-weight: 500;
    font-size: 16px;
    color: var(--heading);
}

.sub-menu{
    text-align: left;
    padding: 0 25px 0 25px;
}

.sub-menu a{
    display: block;
    margin-top: 20px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
    transition: 0.5s;
    background-color: transparent;
    color: var(--text);
}

.sub-menu a i{
   margin-right: 8px;
}


.sub-menu a:hover{
    background-color: var(--shadow);
}

.sub-menu .active, .sub-menu .active:hover{
    background-color: var(--green);
    color: var(--white);
    border-radius: 6px !important;
}


.header{
    width: 100%;
    height: 50px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    padding: 10px 30px 10px 30px;
    z-index: 99;
}

.header #menu{
    color: var(--heading);
    cursor: pointer;
}

.user-icon{
    height: 30px;
    width: 30px;
    border: 2px solid var(--text);
    border-radius: 50%;
    cursor: pointer;
}

.user-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.dropdown-menu{
    border: none;
}

.dropdown-menu i{
    width: 20px;
}

.dropdown-item, .dropdown-menu button{
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: var(--text);
}

.dropdown-item:hover, .dropdown-menu button:hover{
    background-color: var(--green);
    color: var(--white);
}

.center-container{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

.table-container{
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.custom-table{
    height: 350px;
    overflow-y: scroll;
}

.schedule-date{
    font-size: 14px;
    font-weight: 500;
}

.custom-btn{
    width: 100px;
    padding: 5px 20px 5px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    color: var(--white);
}

.schedule-title{
    font-size: 16px;
    font-weight: 600;
}


.table-container tr, .table-container th, .table-container td, .table-container .col, .table-container thead, .table-container tbody{
    border: none !important;
}

thead{
    border-radius: 6px;
    padding: 10px;
}

td:first-child { 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}
  
td:last-child { 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
}

td, th{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.table-data{
    line-height: 30px;
}



.active{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px !important;
}

.search-container{
    width: 150px;
    height: 30px;
    background-color: var(--shadow);
    border-radius: 50px;
    color: var(--text);
}

.search-container i{
    margin: 10px 0px 0px 15px;
    font-size: 12px;
    float: left;

}

.search-container input{
    float: left;
    height: 100%;
    width: 110px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text);
    font-size: 12px;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

select{
    margin-top: 10px;
    border: none !important;
}

select:focus{
    outline: none !important;
}

.add-container{
    min-width: 300px;
    background-color: white;
    padding: 10px;
    padding-top: 25px;
    box-shadow: 0px 0px 2px 0px rgba(100, 100, 100, 0.65);
}

.add-container h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--heading);
}

.add-container p{
    font-size: 14px;
    font-weight: 350;
    color: var(--text);
    max-width: 300px;
}

.add-form{
    text-align: left;
}

.add-form label{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--heading);
}

.add-form input{
    width: 90%;
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid rgb(207, 207, 207);
    font-size: 14px;
    font-weight: 450;
    color: var(--text);
}

.add-form textarea{
    width: 90%;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid rgb(207, 207, 207);
    font-size: 14px;
    font-weight: 450;
    color: var(--text);
}

.add-form input::placeholder{
    color: rgb(207, 207, 207);
    font-weight: 350;
}

.add-form .submit{
    border: none;
    width: 90%;
    height: 40px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}


@media screen and (max-width: 1100px) {
    .sidebar{
        display: none;
        position: fixed;
        left: 0;
    }

    .table-container{
        margin-top: 60px;
    }

    .add-container{
        margin-top: 80px;
    }
}

@media screen and (max-width: 400px) {
    .custom-table{
        width: 320px;
        overflow-x: scroll;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    td, th{
        font-size: 14px;
        white-space: nowrap;
        padding-left: 40px!important;
    }

    .schedule-date{
        font-size: 12px;
    }

    .schedule-title{
        font-size: 14px;
        font-weight: 400;
        margin-left: -10px;
    }
}

@media screen and (min-width: 1100px) {
    .hide-sidebar{
        display: none;
    }
}

.description-form label{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--heading);
}

.description-form input{
    width: 90%;
    height: 205px;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid rgb(207, 207, 207);
    font-size: 14px;
    font-weight: 450;
    color: var(--text);
}

.description-form input::placeholder{
    color: rgb(207, 207, 207);
    font-weight: 350;
}

.description-form .submit{
    border: none;
    width: 90%;
    height: 200px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}


.error{
    color: #F69A45;
    font-size: 14px;
    margin-top: 10px;
}